<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-1 mx-md-4">

                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                        style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                                </div>

                                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1" class="form-control"
                                                    formControlName="firstName"
                                                    [ngClass]="{ 'is-invalid': submitted && formValidation['firstName'].errors }" />
                                                <label class="form-label" for="form3Example1">First name</label>
                                                <div *ngIf="submitted && formValidation['firstName'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="formValidation['firstName'].errors['required']">
                                                        First Name is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example2" class="form-control"
                                                    formControlName="lastName"
                                                    [ngClass]="{ 'is-invalid': submitted && formValidation['lastName'].errors }" />
                                                <label class="form-label" for="form3Example2">Last name</label>
                                                <div *ngIf="submitted && formValidation['lastName'].errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="formValidation['lastName'].errors['required']">
                                                        last Name is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-3">
                                        <input type="text" id="form3Example3" class="form-control"
                                            formControlName="username"
                                            [ngClass]="{ 'is-invalid': submitted && formValidation['username'].errors }" />
                                        <label class="form-label" for="form3Example3">UserName</label>
                                        <div *ngIf="submitted && formValidation['username'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="formValidation['username'].errors['required']">
                                                UserName is required
                                            </div>
                                        </div>
                                    </div>

                                    <!--Role-->
                                    <div class="form-group mb-3">
                                        <label for="role">Role:</label>
                                        <div>
                                            <input id="male" type="radio" value="admin" name="role"
                                                formControlName="role" />
                                            <label for="male">admin </label>

                                            <input id="user" type="radio" value="user" name="role"
                                                formControlName="role" class="ml-2" />
                                            <label for="user">user</label>
                                            <div *ngIf="
                                            formValidation['role'].invalid &&
                                              (submitted || formValidation['role'].touched || formValidation['role'].dirty)
                                            ">
                                                <span class="text-danger"
                                                    *ngIf="formValidation['role'].errors?.['required']">
                                                    role is required
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-3">
                                        <input type="password" id="form3Example4" class="form-control"
                                            formControlName="password"
                                            [ngClass]="{ 'is-invalid': submitted && formValidation['password'].errors }" />
                                        <label class="form-label" for="form3Example4">Password</label>
                                        <div *ngIf="submitted && formValidation['password'].errors" class="invalid-feedback">
                                            <div *ngIf="formValidation['password'].errors['required']">
                                                Password is required
                                            </div>
                                            <div *ngIf="formValidation['password'].errors['minlength']">
                                                Password must be at least 6 characters
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Submit button -->
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                            type="submit" [disabled]="loading">Register</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a company</h4>
                                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>